body {
  background-color: #1c2431;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
}

.main-hero-container {
  position: relative;
  z-index: 0;
  height: auto;
}

.main-hero-container .bgimagecurve {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.main-hero-container .bgimagecurve img {
  inset: 0;
  width: 100%;
}

.main-hero-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.main-hero-container header img {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-hero-container header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-hero-container header ul li {
  padding-right: 3rem;
}

.main-hero-container header ul li a {
  color: white;
  text-decoration: none;
}

.main-hero-container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-hero-container .hero h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 50%;
}

.main-hero-container .hero p {
  width: 40%;
  font-size: 1.2rem;
  text-align: center;
}

.main-hero-container .hero button {
  background-color: #339ecc;
  padding: 1.2rem 6rem;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
}

.features {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  grid-column-gap: 10%;
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .feature h2 {
  padding-bottom: 10px;
}

.features .feature p {
  width: 70%;
  text-align: center;
  padding-top: 10px;
}

.how {
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100vh;
}

.how .how-image {
  height: auto;
}

.how .how-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.how .how-info h1 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

.how .how-info p {
  width: 120%;
  font-family: 'Open Sans';
  font-weight: 400;
}

.how .how-info a {
  color: #65e2d9;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 20px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.testimonials .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #202a3c;
}

.testimonials .card p {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0;
}

.testimonials .card .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 2rem;
  height: 12%;
}

.testimonials .card .profile img {
  border-radius: 50%;
}

.testimonials .card .profile .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15%;
}

.testimonials .card .profile .info h4 {
  margin: 0;
  padding-left: 5%;
  width: 100%;
}

.testimonials .card .profile .info p {
  margin: 0;
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
  padding-right: 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */